:root {
  --our-orange: #ff8c42;
  --border-orange: #da6822;
  --our-lightBlue: #CFE8EF;
  --our-darkBlue: #5B7C99;
  --border-darkBlue: #182733;
  --our-blue: #68a7b9;
  --gardient-darkBlue: linear-gradient(45deg, #68a7b9, #5B7C99);
  --gardient-lightBlue: linear-gradient(45deg, #a1c3cc, #68a7b9);
  --gradient-darkOrange: linear-gradient(45deg, #ff8c42, #da6822);
  --gradient-lightOrange: linear-gradient(45deg, #ffad66, #ff8c42)
  
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to top left, #ff8c42, 
    #b2c8ce, #829fa8 , #de9263, #5B7C99);
    background-size: cover; /* Gör att bakgrunden täcker hela ytan */
    background-attachment: fixed; /* Fixerar bakgrunden så att den inte rör sig vid scroll */
    height: 100vh; /* Säkerställer att body täcker hela viewporten */
}

@media (max-width: 768px) {
  body {
    background-size: contain; /* Anpassar bakgrunden till mindre skärmar */
  }
}