:root {
  --our-orange: #ff8c42;
  --border-orange: #da6822;
  --our-lightBlue: #CFE8EF;
  --our-darkBlue: #5B7C99;
  --border-darkBlue: #182733;
  --our-blue: #68a7b9;
  --gardient-darkBlue: linear-gradient(45deg, #68a7b9, #5B7C99);
  --gardient-lightBlue: linear-gradient(45deg, #a1c3cc, #68a7b9);
  --gradient-darkOrange: linear-gradient(45deg, #ff8c42, #da6822);
  --gradient-lightOrange: linear-gradient(45deg, #ffad66, #ff8c42)
  
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right,#ff8c42, #457b9d, #a8dadc, #f1faee, #de9263);
    background-size: cover; /* Gör att bakgrunden täcker hela ytan */
    background-attachment: fixed; /* Fixerar bakgrunden så att den inte rör sig vid scroll */
    height: 150vh; /* Säkerställer att body täcker hela viewporten */
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

@media (max-width: 768px) {
  body {
    background-size: contain; /* Anpassar bakgrunden till mindre skärmar */
  }
}