@import './base.css';

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: linear-gradient(to bottom right, #CFE8EF, #9eb5bc, #98c4d1);
  border: double 10px var(--our-orange);
  border-radius: 10px;
  margin: 25px;
  padding: 15px;
  padding-bottom: 20px;
}
/* linear-gradient(to bottom right, #ff8c42, 
    #cfe8ef,  
     
    #8abfce , #ff8c42, #5B7C99
    );*/
/* EDIT MODAL FOR EDIT QUIZ */


/* Davids changes, remove if needed */
.edit-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.edit-modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  max-width: 500px;
  width: 90%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-modal-content button{
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 20px 4px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.edit-modal-content #alternatative-button{
  background-color: green;
}

.edit-modal-content #close-button {
  background-color: rgb(213, 8, 8);
}

.edit-modal-content #close-button:hover{
  background-color: rgb(247, 44, 44);
  box-shadow: 0 0 5px 2px rgba(245, 37, 37, 0.5);
  transform: scale(1.05);
}

.edit-modal-content #alternatative-button:hover {
  background-color: rgb(8, 179, 8);
  box-shadow: 0 0 15px 5px rgba(8, 179, 8, 0.5);
  transform: scale(1.05);
}



.button { /* generic rules for buttons */
  border: 2px solid var(--border-orange);
  border-radius: 4px;
  color: white;
  background-color: var(--our-orange);
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  font-size: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}
.button:hover {
  background-color: var(--our-orange);
  box-shadow: 0 0 5px 2px var(--border-orange);
  transform: scale(1.05);
}
.button.small {
  font-size: 16px;
  padding: 5px 10px;
}

.button.decrement{
  background-color: rgb(213, 8, 8);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 0;
  height: 30px;
  width: 30px;
}

.button.decrement:hover{
  background-color: rgb(247, 44, 44);
  box-shadow: 0 0 5px 2px rgba(245, 37, 37, 0.5);
  transform: scale(1.05);
}
.button.increment{
  background-color: green;
  border: none;
  padding: 0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.button.increment:hover{
  background-color: rgb(8, 179, 8);
  box-shadow: 0 0 5px 2px rgba(8, 179, 8, 0.5);
  transform: scale(1.05);
}

.button.green {
  background-color: green;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;  
  display: inline-block;
  /*font-size: 25px;*/
  margin: 30px 4px;
  padding: 15px;
  text-align: center;
  text-decoration: none;  
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button.green:hover {
  background-color: rgb(8, 179, 8);
  box-shadow: 0 0 15px 5px rgba(8, 179, 8, 0.5);
  transform: scale(1.05);
}



.toxtBox-wrapper { /* generic rules for text boxes som inte fungerar*/
  position: fixed; 
  top: 50%;         
  left: 50%;        
  transform: translate(-50%, -50%); 
  background-color: rgb(149, 235, 153 ); 
  padding: 20px;
  border: 2px solid rgb(12, 66, 1);
  border-radius: 6px;
  z-index: 9999;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}
.textBox.input {
  width: 200px;
  font-size: 1.5rem;
  outline: none;
  border: 2px solid var(--border-orange);
  border-radius: 6px;
  padding: 10px;
}

.textBox.click {
  background-color: var(--our-orange);
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid var(--border-orange);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0);
  padding: 10px;
  margin: 0;
}
.textBox.click:hover {
  background-color: var(--border-orange);
}

/* REGLER HÄRFRÅN FÖR SPELKNAPPAR */ 

.game-button {
  border: 2px solid var(--border-orange);
  border-radius: 4px;
  color: white;
  background-color: var(--our-orange);
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  font-size: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}
.game-button:hover {
  background-color: var(--our-orange);
  box-shadow: 0 0 5px 2px var(--border-orange);
  transform: scale(1.05);
}
.game-button:active {
  background-color: var(--border-orange);
  box-shadow: 0 0 5px 2px var(--our-orange);
  transform: scale(0.95);
}