@import './base.css';

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #CFE8EF, #9eb5bc, #98c4d1);
  border: double 10px var(--our-orange);
  border-radius: 10px;
  box-sizing: border-box;

  /* Centering and responsive resizing */
  position: absolute;
  top: 10px; /* 10px gap from the top */
  left: 10px; /* 10px gap from the left */
  right: 10px; /* 10px gap from the right */
  bottom: 10px; 
  padding: 15px;
  overflow: hidden;
}



.button.orange { /* generic rules for buttons */
  border: none;
  border-radius: 4px;
  margin: 10px;
  color: white;
  background: var(--gradient-darkOrange);
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  font-size: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}
.button.orange:hover {
  background: var(--gradient-lightOrange);
  box-shadow: 0 0 15px 5px #ffaa75;
  transform: scale(1.05);
}
.button.small {
  font-size: 16px;
  padding: 5px 10px;
}

.button.decrement{
  background-color: rgb(213, 8, 8);
  border: none;
  font-size: 20px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 0;
  height: 30px;
  width: 30px;
}

.button.decrement:hover{
  background-color: rgb(247, 44, 44);
  box-shadow: 0 0 5px 2px rgba(245, 37, 37, 0.5);
  transform: scale(1.05);
}
.button.increment{
  background-color: green;
  border: none;
  font-size: 20px;
  padding: 0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.button.increment:hover{
  background-color: rgb(8, 179, 8);
  box-shadow: 0 0 5px 2px rgba(8, 179, 8, 0.5);
  transform: scale(1.05);
}

.button.blue {
  background: linear-gradient(45deg, #68a7b9, #5B7C99);
  border: none;
  border-radius: 6px;
  font-size: 22px;
  color: white;
  cursor: pointer;  
  display: inline-block; 
  margin: 30px 4px;
  padding: 15px;
  text-align: center;
  text-decoration: none;  
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button.blue:hover {
  background: linear-gradient(45deg, #a1c3cc, #68a7b9); /* --our-lightBlue till --our-blue */
  transform: scale(1.05);
  box-shadow: 0 0 15px 5px var(--our-lightBlue);
}
.button.blue.small {
  padding: 8px 12px;
  font-size: 16px;
  height: 100%;
  border: 1px solid var(--border-darkBlue);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0);
  cursor: pointer;
  margin: 5px;
}

/* .join-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px;
} */

/* .textBox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  width: 600px;
  background-color: var(--our-darkBlue);
  border: 2px solid var(--border-darkBlue);
  border-radius: 6px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
} */

/* .textBox.input {
  border: 2px solid var(--border-darkBlue);
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
  flex: 1;
  width: 90%;
  box-shadow: 0 0 10px 5px var(--our-lightBlue);
  box-sizing: border-box;
}
.textBox.input:focus {
  outline: none;
  border-color: var(--border-darkBlue);
} */

/* .textBox.click {
  background-color: var(--gradient-darkBlue);
  border-radius: 4px;
  font-size: 16px;
  height: 100%;
  border: 2px solid var(--border-darkBlue);
  color: white;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 10px;
  margin: 5px;
} */

/* MODALS */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  max-width: 500px;
  width: 90%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


/* TOGGLE BUTTON */
.toggle-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  font-size: 1.2rem;
  background-color: var(--our-blue); /* Bakgrundsfärg för knappen */
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 15px;
}
.toggle-button:hover {
  background-color: var(--our-lightBlue); /* Bakgrundsfärg för knappen vid hover */
}
.toggle-button span {
  display: inline-block; /* Visa som inline-block för att kunna styra visuellt */
}

.toggle-button span:first-child {
  display: inline; /* Första delen av knappen syns alltid */
}

.toggle-button span:last-child {
  display: none; /* Andra delen döljs */
}

.toggle-button[style*="none"] span:last-child {
  display: inline; /* Visa pilen när listan är synlig */
}

.toggle-button[style*="none"] span:first-child {
  display: none; /* Dölj pilen när listan är dold */
}
/*RESPONSIVE DESIGN*/
@media (max-width: 768px) {
  #app {
    margin: 10px;
    padding: 10px;
    border-width: 5px;
  }

  .textBox-wrapper {
    padding: 15px;
    
    min-width: 300px;
    
    display: flex;
  }

  .textBox.input {
    padding: 10px;
    font-size: 14px;
    width: 200px;
  }

  .join-container {
    gap: 10px;
  }

  .button.orange {
    font-size: 16px;
    padding: 8px 15px;
  }
  .modal-content {
    padding: 1rem;
    width: 80%;
  }
}

@media (max-width: 480px) {
  #app {
    font-size: 14px;
    margin: 5px;
    padding: 8px;
  }

  .textBox-wrapper {
    min-width: 300px;
    font-size: 12px;
    padding: 10px;
    display: flex;
  }

  .join-container {
    gap: 8px;
  }

  .button.orange {
    font-size: 14px;
    padding: 6px 10px;
  }
  .textBox.click {
    font-size: 12px;
    padding: 8px;
  }
}



